.text-style-assistant {
	padding-top: 7vh;
	color: #ffffff;
	font-size: 95px;
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	line-height: 134px;
	text-align: center;
}

.text-through-al-innovation {
	color: #ffffff;
	font-size: 44px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	line-height: 65px;
	text-align: center;
}

.text-get-dressed {
	color: #f87909;
	font-size: 64px;
	font-family: "Open Sans", sans-serif;
	font-weight: 700;
	line-height: 83px;
	position: absolute;
	top: 69vh;
	left: 14vw;
}

.text-get-noticed {
	color: #eead12;
	font-size: 64px;
	font-family: "Open Sans", sans-serif;
	font-weight: 600;
	line-height: 83px;
	position: absolute;
	top: 77vh;
	left: 45vw;
}
