.image-style-assistant {
	position: absolute;
	top: 165px;
	left: 66vw;
	width: 526px;
	height: 617px;
	border-radius: 8px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.image-get-dressed {
	position: absolute;
	top: 802px;
	left: 70vw;
	width: 164px;
	height: 55px;
	border-radius: 8px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}

.image-get-noticed {
	position: absolute;
	top: 802px;
	left: 81vw;
	width: 164px;
	height: 55px;
	border-radius: 8px;
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
}
